* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

body, html {
    font-size: 16px;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {

    background-color: black;
    font-family: "Open Sans", serif;

}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color:white;
    max-width: 1600px;
}
.headercontainer{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
   
}

select {
    color: black;
    background-color: white;
}

.sectionlist, .newssection {
    display: flex;
    flex-wrap: wrap;

}

footer {
    color:#c2c2c2;
    text-align: center;
    margin-bottom: 30px;
    
}

@media screen and (min-width: 600px)
{
    .headercontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
    
    }
}



@media screen and (min-width: 1000px)
{
    .headercontainer{
        display: flex;
        justify-content: right;
        flex-grow: 1;
    }
    .copyrightcontainer{
        display: flex;
        justify-content: right;
        margin-left: 30px;
    }
}