* {
    box-sizing: border-box;
    border: 1px solid oldlace;
}


body, html {
    font-size: 14px;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {

    background-color: black;
    font-family: "Open Sans", serif;

}
.maincontainer{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo {
    background-image: url("../images/nyt-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 60vh;
}

select {
    color: black;
    background-color: white;
}

.sectionlist, .newssection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

footer {
    color:#c2c2c2;
    text-align: center;
    height: 100px;
    
}