@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/');
    src: url('../../fonts/?#iefix') format('embedded-opentype'),
        url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Bold.woff') format('woff'),
        url('../../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSansLight-Italic.eot');
    src: url('../../fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('../../fonts/OpenSansLight-Italic.woff') format('woff'),
        url('../../fonts/OpenSansLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-BoldItalic.eot');
    src: url('../../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Light.eot');
    src: url('../../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../fonts/OpenSans-Light.woff') format('woff'),
        url('../../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

