* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: black;
  color: white;
  font-family: "Open Sans", serif;
  font-size: 16px;
  max-width: 1600px;
  scroll-behavior: smooth;
  & a {
    color: white;
    text-decoration: none;
    position: relative;
  }
.loader{
  width: 50px;
  height: 50px;
  display:none;
}


img {
  max-width: 100%;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1; 
}

select {
  color: black;
  background-color: white;
}
.articleimage {
  margin-top: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 2s ease-in;
}
.content{
  &:hover{
    text-transform: uppercase; 
  }
}
.newsarticles {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  margin-top: 20px;
  background-position: center;

& p {
  position: absolute;
  bottom: 0%;
  background-color: #000;
  opacity: 0.8;

}
}
// footer - copyright

footer {
  color: #c2c2c2;
  text-align: center;
  margin: 30px;
}
// media queries for desktop and tablet using css grid
@media screen and (min-width: 600px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  .newsarticles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    background-position: center;
    margin-top: 30px;
  
  }
}
@media screen and (min-width: 1000px) {
  
  footer p {
    text-align: left;
    font-size: 0.8rem;
    &:hover {
      color: white;
    }
  }

}
}